img{
    width:500px;
    height:250px;   
}
nav{
    display: flex;
    justify-content:center;
    
    
}
nav a{
    color: rgb(14, 13, 13);
    text-decoration: none;
    padding: 20px;
    display:inline-block;
    float: left;
    margin: 5px;

    
}
nav a:hover{background-color: rgb(190, 150, 150);
    border-radius:30px 0px 30px;}

body{
    background-image: url(gk.jpg);
}
img{
border: 2px solid black;
box-shadow: 8px 9px 5px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#list{
    border: 3px solid green;
    width:fit-content;
    height: fit-content;
    border-radius: 20px;
}
#para{
    border: 3px solid green;
    width:fit-content;
    height: fit-content;
    border-radius: 20px;
    padding:10px;
}